footer
{
    background: #353535;
    color: white;
    padding: 1rem 2rem;

    h2 {
        font-family: "shrikhand";
        font-weight: 500;
        padding: 1rem 0;
    }
    p {
        padding: 0.3rem;
    }
    i {
        margin-right: 0.5rem;
    }
   
}