header
{
    text-align: center;
    h1 {
        font-family: "shrikhand";
    }
}

.maps
{
    display: flex;
    justify-content: center;
    gap: 1rem;
    background-color: rgb(233, 231, 231);
    border-top: 3px solid rgb(224, 223, 223);
    padding: 15px;
    font-weight: 500;
}
.text_maps
{
    background-color: #f6f6f6;

    h2 {
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 1.5rem;
    }
    p{
        font-size: 1.2rem;
    }
    button {
        @include button_style;
    }
}




