main
{
    background: #f6f6f6;
    padding: 1rem;
    h2 {
        margin: 0.8rem;
    }
}

.containerRestaurants{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 2fr);
    
    @media (max-width:768px) {
        display: flex;
        flex-direction: column
    }
    img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
    }
    figure {
        background-color: white;
        border-radius: 15px;
    }
    figcaption {
        padding: 15px;
        position: relative;
    }
}

.container_pic {
    position: relative;

    .new {
        position: absolute;
        background:$green;
        color: rgb(3, 97, 3);
        border-radius: 3px;
        padding: 0.4rem;
        top: 1rem;
        right: 1.3rem;
    }
}

a {
    margin: 5px;
    i {
        position: absolute;
        font-size: 2rem;
        right: 1rem;
        top: 15%;
       
    }
    .fas {
        color: transparent;
        background: #9356DC;
        background: -moz-linear-gradient(top, #9356DC 0%, #FF79DA 85%, #FF79DA 100%);
        background: -webkit-linear-gradient(top, #9356DC 0%, #FF79DA 85%, #FF79DA 100%);
        background: linear-gradient(to bottom, #9356DC 0%, #FF79DA 85%, #FF79DA 100%);
        background-clip: text;
        opacity: 0;
        transition: 900ms ease-in;
        -webkit-background-clip: text;
    }
    &:hover .fas {
        opacity: 1;
        transform:translateY(-5%) scale(1.2) ;
    }
}
