@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:wght@100;400&family=Shrikhand&display=swap');

$purple : #9356DC;
$pink : #FF79DA;
$green : #99E2D0;

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

li
{
    list-style-type: none;
}

a
{
    text-decoration: none;
}

/***********************************************************/
/********************* Header ******************************/
/***********************************************************/
header
{
    text-align: center;
}
#logo img
{
    width: 160px;
}
#logo
{
    margin: 10px;
}
.maps
{
    display: flex;
    justify-content: center;
    gap: 1rem;
    background-color: rgb(233, 231, 231);
    border-top: 3px solid rgb(224, 223, 223);
    padding: 15px;
    font-weight: 500;
}
.text_maps
{
    background-color: rgb(243, 240, 240);

    h1 {
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 1.5rem;
        padding: 1rem;
    }
    p{
        font-size: 1.2rem;
    }
}

button
{
    color: white;
    font-size: 1.5rem;
    background: #FF79DA;
    margin: 2rem 0 3.5rem 0;
    padding: 1rem;
    border: none;
    border-radius: 35px;
    transition: transform 300ms;
    background: -moz-linear-gradient(top, #FF79DA 0%, #FF79DA 39%, #9356DC 100%);
    background: -webkit-linear-gradient(top, #FF79DA 0%, #FF79DA 39%, #9356DC 100%);
    background: linear-gradient(to bottom, #FF79DA 0%, #FF79DA 39%, #9356DC 100%);
}

button:hover
{
    transform: scale(1.04);
}