@charset "UTF-8";
/* Réglage de base */
/*Import de la police*/
@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:wght@100;400&family=Shrikhand&display=swap");
/* Couleur charte graphique*/
/*Reset CSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.contact {
  color: white;
}

ul {
  list-style-type: none;
}

/*Mise en place de la police*/
body p, body li, body h2, body h3, body h4, body .price {
  font-family: "Roboto", sans-serif;
}
body li {
  font-weight: bold;
}
body h1 {
  font-family: "Shrikhand", cursive;
}

/* Loading spinner pour le chargement de la page*/
.loader {
  height: 100vh;
  display: grid;
  place-items: center;
  background: #99E2D0;
  opacity: 1;
  position: fixed;
  inset: 0;
  z-index: 1;
  animation: vanish 800ms 3s;
  animation-fill-mode: forwards;
}
.loader::after {
  content: "Ohmyfood";
  color: #9356DC;
  border: 4px solid #FF79DA;
  border-radius: 50%;
  padding: 1.5rem;
  font-family: shrikhand;
  font-size: 60px;
  animation: shake;
  animation-duration: 8s;
}
@media (max-width: 768px) {
  .loader::after {
    font-size: 40px;
  }
}

header {
  text-align: center;
}

.maps {
  display: flex;
  justify-content: center;
  gap: 1rem;
  background-color: #e9e7e7;
  border-top: 3px solid #e0dfdf;
  padding: 15px;
  font-weight: 500;
}

.text_maps {
  background-color: #f6f6f6;
}
.text_maps h2 {
  font-size: 1.5rem;
}
.text_maps p {
  font-size: 1.2rem;
}
.text_maps button {
  color: white;
  font-size: 1.5rem;
  background: #FF79DA;
  margin: 2rem 0 3.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 35px;
  transition: transform 300ms;
  background: -moz-linear-gradient(top, #FF79DA 0%, #FF79DA 39%, #9356DC 100%);
  background: -webkit-linear-gradient(top, #FF79DA 0%, #FF79DA 39%, #9356DC 100%);
  background: linear-gradient(to bottom, #FF79DA 0%, #FF79DA 39%, #9356DC 100%);
  box-shadow: #00000078 2px 5px 10px 0px;
}
.text_maps button:hover {
  transform: scale(1.04);
  background: -moz-linear-gradient(top, #f37fd2 0%, #fa8cdb 39%, #a365ee 100%);
  background: -webkit-linear-gradient(top, #f37fd2 0%, #fa8cdb 39%, #a365ee 100%);
  background: linear-gradient(to bottom, #f37fd2 0%, #fa8cdb 39%, #a365ee 100%);
  box-shadow: #5e5c5c78 2px 5px 10px 0px;
}

nav {
  margin: 25px;
}
nav ul {
  padding: 1.7rem;
  gap: 2.5rem;
  display: flex;
}
@media (max-width: 908px) {
  nav ul {
    flex-direction: column;
  }
}
nav li {
  background-color: #f6f6f6;
  padding: 1rem;
  border-radius: 28px;
  flex-grow: 1;
  box-shadow: #00000078 2px 5px 10px 0px;
}
nav li :hover {
  transform: scale(1.04);
}
nav li i.fas {
  margin-right: 1.5rem;
}
nav li:hover {
  background-color: #9256dc1c;
}
nav span {
  display: inline-block;
  height: 45px;
  width: 42px;
  text-align: center;
  position: relative;
  margin-left: -35px;
  margin-right: 15px;
  padding: 15px;
  background-color: #9356DC;
  border-radius: 50%;
  color: white;
}

main {
  background: #f6f6f6;
  padding: 1rem;
}
main h2 {
  margin: 0.8rem;
}

.containerRestaurants {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(2, 2fr);
}
@media (max-width: 768px) {
  .containerRestaurants {
    display: flex;
    flex-direction: column;
  }
}
.containerRestaurants img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.containerRestaurants figure {
  background-color: white;
  border-radius: 15px;
}
.containerRestaurants figcaption {
  padding: 15px;
  position: relative;
}

.container_pic {
  position: relative;
}
.container_pic .new {
  position: absolute;
  background: #99E2D0;
  color: #036103;
  border-radius: 3px;
  padding: 0.4rem;
  top: 1rem;
  right: 1.3rem;
}

figure {
  margin: 5px;
  box-shadow: #00000078 2px 5px 10px 0px;
  /* Animation du remplissage du coeur*/
}
figure:hover {
  transform: scale(1.04);
}
figure i {
  position: absolute;
  font-size: 2rem;
  right: 1rem;
  top: 15%;
}
figure .fas {
  color: transparent;
  background: -moz-linear-gradient(top, #9356DC 0%, #FF79DA 85%, #FF79DA 100%);
  background: -webkit-linear-gradient(top, #9356DC 0%, #FF79DA 85%, #FF79DA 100%);
  background: linear-gradient(to bottom, #9356DC 0%, #FF79DA 85%, #FF79DA 100%);
  opacity: 0;
  transition: 900ms ease-in;
  background-clip: text;
  -webkit-background-clip: text;
}
figure:hover .fas {
  opacity: 1;
  transform: translateY(-5%) scale(1.2);
}

footer {
  background: #353535;
  color: white;
  padding: 1rem 2rem;
}
footer h2 {
  font-family: "shrikhand";
  font-weight: 500;
  padding: 1rem 0;
}
footer p {
  padding: 0.3rem;
  cursor: pointer;
}
footer div {
  display: flex;
  align-items: center;
  margin-left: 0.2rem;
}

.all {
  border-radius: 2rem 2rem 0 0;
  margin-top: -77px;
  position: relative;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.top i {
  color: #99E2D0;
}
.top i:hover {
  transform: scale(1.04);
  transform: scale(1.2);
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title i {
  position: absolute;
  font-size: 2rem;
  right: 2rem;
}
.title .fas {
  color: transparent;
  background: -moz-linear-gradient(top, #9356DC 0%, #FF79DA 85%, #FF79DA 100%);
  background: -webkit-linear-gradient(top, #9356DC 0%, #FF79DA 85%, #FF79DA 100%);
  background: linear-gradient(to bottom, #9356DC 0%, #FF79DA 85%, #FF79DA 100%);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: 900ms ease-in;
}
.title:hover .fas {
  opacity: 1;
  transform: translateY(-5%) scale(1.5);
}

.presentation_pic img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  display: block;
  position: relative;
}

.menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 1195px) {
  .menu {
    display: flex;
    flex-direction: column;
  }
}
.menu .border {
  background: #99E2D0;
  width: 2.1rem;
  height: 0.2rem;
  margin-left: 1.2rem;
}
.menu .container_dish {
  background: white;
  border-radius: 1rem;
  margin: 1rem;
  display: flex;
  overflow: hidden;
  box-shadow: #00000078 2px 5px 10px 0px;
}
.menu .container_dish:hover .dish_icon {
  margin-right: 0;
}
.menu .container_dish:hover i {
  animation: rotation 1s ease;
}
.menu .container_dish .dish {
  padding: 0.8rem;
  overflow: hidden;
}
.menu .container_dish h4 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu .container_dish p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu .container_dish .price {
  padding: 0.8rem;
  margin-left: auto;
  display: flex;
  align-items: flex-end;
  font-weight: bold;
}
.menu .container_dish .dish_icon {
  background: #99E2D0;
  margin-right: -4rem;
  border-radius: 0 1rem 1rem 0;
  overflow: hidden;
  width: 4rem;
  transition: 700ms;
  display: grid;
  place-items: center;
}
.menu .container_dish i {
  background: white;
  border-radius: 50%;
  padding: 0.4rem;
  color: #99E2D0;
}
.menu h3 {
  margin-left: 1.2rem;
}
.menu .container_entree {
  animation: appearance 1s;
}
.menu .container_plat {
  animation: appearance 2s;
}
.menu .container_dessert {
  animation: appearance 3s;
}

button {
  color: white;
  font-size: 1.5rem;
  background: #FF79DA;
  margin: 2rem 0 3.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 35px;
  transition: transform 300ms;
  background: -moz-linear-gradient(top, #FF79DA 0%, #FF79DA 39%, #9356DC 100%);
  background: -webkit-linear-gradient(top, #FF79DA 0%, #FF79DA 39%, #9356DC 100%);
  background: linear-gradient(to bottom, #FF79DA 0%, #FF79DA 39%, #9356DC 100%);
  box-shadow: #00000078 2px 5px 10px 0px;
}
button:hover {
  transform: scale(1.04);
  background: -moz-linear-gradient(top, #f37fd2 0%, #fa8cdb 39%, #a365ee 100%);
  background: -webkit-linear-gradient(top, #f37fd2 0%, #fa8cdb 39%, #a365ee 100%);
  background: linear-gradient(to bottom, #f37fd2 0%, #fa8cdb 39%, #a365ee 100%);
  box-shadow: #5e5c5c78 2px 5px 10px 0px;
}

.command {
  text-align: center;
}

@keyframes rotation {
  0% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes appearance {
  0% {
    opacity: 0;
    transform: rotateX(-100deg);
    transform-origin: top;
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
    transform-origin: top;
  }
}
@keyframes vanish {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70% {
    transform: translateX(-10px);
  }
  20%, 40%, 60% {
    transform: translateX(10px);
  }
  80% {
    transform: translateX(8px);
  }
  90% {
    transform: translateX(-8px);
  }
}

/*# sourceMappingURL=style.css.map */
