
.paletteDuGout__main {
    border-radius: 2rem 2rem 0 0;
    margin-top: -77px;
    position: relative;

    h2 {
        font-family: "shrikhand", "sans-serif";
    }
}

.presentation_pic img
{ 
        width: 100%;
        height: 50vh;
        object-fit: cover;
        display: block;
        position: relative;
}
    
.menu {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    overflow: hidden;
    white-space: nowrap;
    
    
    @media (max-width:1084px) {
        display: flex;
        flex-direction: column;
    }

    .container_dish {
        background: white;
        border-radius: 1rem;
        padding: 0.8rem;
        margin: 1rem;
        display: flex;
        

        .dish_icon {
            background: $green;
            margin-right: 5px;
        }
        .price {
            margin-left: auto;
        }
    }  
    .container_entree h3, .container_plat h3, .container_dessert h3 {
        margin-left: 1.2rem;
    }
}

.command
{
    text-align: center;
}
button
{
    color: white;
    font-size: 1.5rem;
    background: #FF79DA;
    margin: 2rem 0 3.5rem 0;
    padding: 1.2rem 2.5rem;
    border: none;
    border-radius: 35px;
    transition: transform 300ms;
    background: -moz-linear-gradient(top, #FF79DA 0%, #FF79DA 39%, #9356DC 100%);
    background: -webkit-linear-gradient(top, #FF79DA 0%, #FF79DA 39%, #9356DC 100%);
    background: linear-gradient(to bottom, #FF79DA 0%, #FF79DA 39%, #9356DC 100%);
    @include box-shadow;
}

