@import "../utils/animations.scss";

.all {
    border-radius: 2rem 2rem 0 0;
    margin-top: -77px;
    position: relative;

    h2 {
        font-family: "shrikhand", "sans-serif";
    }
    h3 {
        font-weight: 400;
    }
}

.title 
{
    display: flex;
    justify-content: space-between;
    align-items: center;

    i {
        position: absolute;
        font-size: 2rem;
        right: 2rem;
       
       
    }
    .fas {
        color: transparent;
        background: #9356DC;
        background: -moz-linear-gradient(top, #9356DC 0%, #FF79DA 85%, #FF79DA 100%);
        background: -webkit-linear-gradient(top, #9356DC 0%, #FF79DA 85%, #FF79DA 100%);
        background: linear-gradient(to bottom, #9356DC 0%, #FF79DA 85%, #FF79DA 100%);
        background-clip: text;
        opacity: 0;
        transition: 900ms ease-in;
        -webkit-background-clip: text;
    }
    &:hover .fas {
        opacity: 1;
        transform:translateY(-5%) scale(1.2) ;
    }
    
}


.presentation_pic img
{ 
    width: 100%;
    height: 50vh;
    object-fit: cover;
    display: block;
    position: relative;
}
    
.menu {
    display: grid;
    grid-template-columns: repeat(3,1fr);
     
    @media (max-width:1195px) {
        display: flex;
        flex-direction: column;
    }

    .border {
        background: $green;
        width: 2.1rem;
        height: 0.2rem;
        margin-left: 1.2rem;

    }

    .container_dish {
        background: white;
        border-radius: 1rem;
        margin: 1rem;
        display: flex;
        overflow: hidden;
        @include box-shadow;
       
        .dish {
            padding: 0.8rem;
            overflow: hidden;
        }

        h4 {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;   
        }

        p {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }


        .price {
            padding: 0.8rem;
            margin-left: auto;
            display: flex;
            align-items: flex-end;
            font-weight: bold;
        }

        .dish_icon {
            background: $green;
            margin-right: -4rem;
            border-radius:  0 1rem 1rem 0;
            overflow: hidden;
            width: 4rem;
            transition: 700ms;
            display: grid;
            place-items: center;
        }

        i {
            background: white;
            border-radius: 50%;
            padding: 0.4rem;
            color: $green;
        }
        
    }  
}

.container_dish:hover {
    .dish_icon {
    margin-right: 0;
}
i {
    animation: rotation 1s ease;
}
}   

.container_entree h3, .container_plat h3, .container_dessert h3 {
    margin-left: 1.2rem;
}

.command
{
    text-align: center;
}
button
{
    color: white;
    font-size: 1.5rem;
    background: #FF79DA;
    margin: 2rem 0 3.5rem 0;
    padding: 1.2rem 2.5rem;
    border: none;
    border-radius: 35px;
    transition: transform 300ms;
    background: -moz-linear-gradient(top, #FF79DA 0%, #FF79DA 39%, #9356DC 100%);
    background: -webkit-linear-gradient(top, #FF79DA 0%, #FF79DA 39%, #9356DC 100%);
    background: linear-gradient(to bottom, #FF79DA 0%, #FF79DA 39%, #9356DC 100%);
    @include box-shadow;
}

